<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - つつじ行政書士事務所</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }} - つつじ行政書士事務所">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="https://g222.tech{{ url }}">
    <link rel="canonical" href="https://g222.tech{{ url }}">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% block %}
    {% %}
    <link rel="stylesheet" href="/assets/bundle.css">
  </head>
  <body>
  </body>
</html>
