{#- need properties:
    page:
        eyecatch: 
            src: string|undefined;
            alt: string|undefined;
        prev: (ポストタイプ、できればエンティティかDTOにしたい); 
        next: (ポストタイプ、できればエンティティかDTOにしたい);
        create_at: string(datetime);
        update_at: string(datetime)|undefined;
-#}
{% extends './partials/base.html.twig' %}

{% block main %}
{%- include 'components/breadcrumb.html.twig' -%}
{% if page.eyecatch.src is defined %}
{{ include('components/eyecatch.html.twig') }}
{% endif %}
{{ parent() }}

<section class="padding">
    <p>最後までお読みいただきありがとうございました。<br>
    なにかお気づきの点がありましたら、<a href="/contact.html" class="button small border">お問い合わせ</a>ください。
    </p>
    <p>
        <img class="after-content-message-img" src="#" alt="日行連公式キャラクター「ユキマサくん」" 
        decoding="async" width="1" height="1" />
    </p>
    <p>（日行連公式キャラクター「ユキマサくん」）</p>
    <div class="after-content-message-text"></div>
</section>

<article class="border">
    <ul class="list border">
        <li>
            {% if page.prev is not null %}
            <a class="link" href="{{ page.prev.href }}">
                <div>
                    <h3 class="small" style="font-size:1.125rem;">前の記事</h3>
                    <div class="">{{ page.prev.title }}</div>
                </div>
            </a>
            {% else %}
            <div>
                <h3 class="small" style="font-size:1.125rem;">前の記事</h3>
                <div class="">（一番古い記事です）</div>
            </div>
            {% endif %}
        </li>
        <li>
            <a class="link" href="/archives/">
                <div class="">
                    <h3 class="small" style="font-size:1.125rem;">記事一覧</h3>
                    <div class="">記事の一覧に戻ります</div>
                </div>
            </a>
        </li>
        <li>
            {% if page.next is not null %}
            <a class="link" href="{{ page.next.href }}">
                <div>
                    <h3 class="small" style="font-size:1.125rem;">次の記事</h3>
                    <div class="">{{ page.next.title }}</div>
                </div>
            </a>
            {% else %}
            <div>
                <h3 class="small" style="font-size:1.125rem;">次の記事</h3>
                <div class="">（一番新しい記事です）</div>
            </div>
            {% endif %}
        </li>
    </ul>
</article>
{# そのうち作りたい
<section class="padding">
    <h3 style="font-size:1.125rem;">最近の記事</h3>
    <div id="post-list-position"></div>
</section>
#}
{% endblock %}

{% block aftertitle %}
<p class="page-date">
    <span>{{ page.create_at|date("Y年m月d日") }}作成</span>
    {%- if page.update_at is defined -%}
    <span>{{ page.update_at|date("Y年m月d日") }}更新</span>
    {%- endif %}
</p>
{% endblock %}
