{#- need properties:
    page:
        eyecatch: 
            src: string|undefined;
            alt: string|undefined;
        prev: (ポストタイプ、できればエンティティかDTOにしたい); 
        next: (ポストタイプ、できればエンティティかDTOにしたい);
        create_at: string(datetime);
        update_at: string(datetime)|undefined;
-#}
{% extends './partials/base.html.twig' %}

{% block main %}
{% if page.eyecatch.src is defined %}
{{ include('components/eyecatch.html.twig') }}
{% endif %}
{{ parent() }}

<section class="padding" id="after-content">
    <p>最後までお読みいただきありがとうございました。<br>
    なにかお気づきの点がありましたら、<a href="/contact.html" class="button small border">お問い合わせ</a>ください。
    </p>
    <img src="#" alt="日行連公式キャラクター「ユキマサくん」" 
        width="300" height="300" style="display:block;width:300px;max-width:100%;height:auto;" />
    <p>（日行連公式キャラクター「ユキマサくん」）</p>
    <div class="border padding tertiary-container" style="max-width:500px;">message</div>
</section>

<article class="border">
    <h2 style="font-size:1.125rem;font-weight:bold;padding:var(--_padding);">前後の記事</h2>
    <ul style="list-style-type:none;margin:0;padding:0;">
        <li style="border-top: 1px solid var(--outline-variant);padding:var(--_padding);">
            <div style="display:flex;aling-items:flex-start;justify-content:flex-start;gap:1rem;">
                <svg class="circle left-round" viewBox="0 0 24 24"
                    style="background-color:var(--primary);color:var(--on-primary);flex-shrink:0;">
                    <use href="#chevron-left" x="4" y="4"></use>
                </svg>
                {% if page.prev is not null %}
                <div>
                    <h3 class="small" style="font-size:1rem;">
                        <a class="link" href="{{ page.prev.href }}">{{ page.prev.title }}</a>
                    </h3>
                    <div class="m l">{{ page.prev.description }}</div>
                </div>
                {% else %}
                <div>
                    <h3 class="small" style="font-size:1rem;">前の記事はありません</h3>
                    <div class="m l">（一番古い記事です）</div>
                </div>
                {% endif %}
            </div>
        </li>
        <li style="border-top: 1px solid var(--outline-variant);padding:var(--_padding);">
            <div style="display:flex;aling-items:flex-start;justify-content:flex-start;gap:1rem;">
                <svg class="round" viewBox="0 0 24 24"
                    style="background-color:var(--primary);color:var(--on-primary);flex-shrink:0;">
                    <use href="#archives" x="4" y="4"></use>
                </svg>
                <div>
                    <h3 class="small" style="font-size:1rem;">
                        <a class="link" href="/archives/">記事一覧</a>
                    </h3>
                    <div class="m l">過去記事の一覧に戻ります</div>
                </div>
            </div>
        </li>
        <li style="border-top: 1px solid var(--outline-variant);padding:var(--_padding);">
            <div style="display:flex;aling-items:flex-start;justify-content:flex-start;gap:1rem;">
                <svg class="circle right-round" viewBox="0 0 24 24"
                    style="background-color:var(--primary);color:var(--on-primary);flex-shrink:0;">
                    <use href="#chevron-right" x="4" y="4"></use>
                </svg>
                {% if page.next is not null %}
                <div>
                    <h3 class="small" style="font-size:1rem;">
                        <a class="link" href="{{ page.next.href }}">{{ page.next.title }}</a>
                    </h3>
                    <div class="m l">{{ page.next.description }}</div>
                </div>
                {% else %}
                <div>
                    <h3 class="small" style="font-size:1rem;">次の記事はありません</h3>
                    <div class="m l">（一番新しい記事です）</div>
                </div>
                {% endif %}
            </div>
        </li>
    </ul>
</article>

<article id="recent-posts" class="border">
    <div class="padding">読み込み中 ...</div>
    <noscript>
        <div class="padding error-container">JavaScriptが有効になっておらず、読み込みに失敗しています。</div>
    </noscript>
</article>
{% endblock %}

{% block aftertitle %}
<p class="page-date">
    <span>{{ page.create_at|date("Y年m月d日") }}作成</span>
    {%- if page.update_at is defined -%}
    <span>{{ page.update_at|date("Y年m月d日") }}更新</span>
    {%- endif %}
</p>
{% endblock %}
