{#- need properties:
    page:
        eyecatch: 
            src: string|undefined;
            alt: string|undefined;
        prev: (ポストタイプ、できればエンティティかDTOにしたい); 
        next: (ポストタイプ、できればエンティティかDTOにしたい);
        create_at: string(datetime);
        update_at: string(datetime)|undefined;
-#}
{% extends './partials/base.html.twig' %}

{% block main %}
{%- include 'components/breadcrumb.html.twig' -%}
{% if page.eyecatch.src is defined %}
{{ include('components/eyecatch.html.twig') }}
{% endif %}
{{ parent() }}
<section class="content-wrap">
    <div class="content-outer">
    {% if page.prev is not null %}
        <h2>前の記事</h2>
        {{ include('components/post-list.html.twig', { post: page.prev }) }}
    {% endif %}
    {% if page.next is not null %}
        <h2>次の記事</h2>
        {% set post = page.next %}
        {% include 'components/post-list.html.twig' %}
    {% endif %}
        <h2>最近の記事</h2>
        <div id="post-list-position"></div>
    </div>
</section>
{% endblock %}

{% block aftertitle %}
<p class="page-date">
    <span>{{ page.create_at|date("Y年m月d日") }}作成</span>
    {%- if page.update_at is defined -%}
    <span>{{ page.update_at|date("Y年m月d日") }}更新</span>
    {%- endif %}
</p>
{% endblock %}

{% block main_content %}
    {{ parent() }}
    <section class="after-content-message">
        <p>最後までお読みいただきありがとうございました。<br>なにかお気づきの点がありましたら、<a href="/contact.html">お問い合わせ</a>ください。</p>
        <p><img class="after-content-message-img" src="#" alt="日行連公式キャラクター「ユキマサくん」" decoding="async"
            width="1" height="1" /></p>
        <p>（日行連公式キャラクター「ユキマサくん」）</p>
        <div class="after-content-message-text"></div>
    </section>
{% endblock %}