<footer class="responsive">
    {% block footer %}
    <section class="padding" style="margin-top: 64px; margin-bottom: 32px;">
        <h2 style="font-size:1.125rem;">つつじ行政書士事務所</h2>
        <div class="padding">
            <address>〒830-0044<br>福岡県久留米市本町233-2-502</address>
            <p>{{ site.sidebar_description|raw }}</p>
        </div>
        <h3 style="font-size:1rem;">SNS等</h3>
        <div class="padding grid">
            {% for sns in site.snss %}
            <a class="s12 m6 l4 button border" href="{{ sns.href }}">
                <i><img src="{{ sns.src }}" alt="{{ sns.name }}" width="18" height="18" /></i>
                <span>{{ sns.name }}</span>
            </a>
            {% endfor %}
        </div>
        <p class="padding" style="font-size:.8rem">※ 当事務所は、福岡県久留米市にある行政書士事務所です。<br>群馬県館林市にある、外国人ビザ申請に強い行政書士事務所をお探しの方は、<a href="https://tsutsujiilo.com/">行政書士つつじ国際法務事務所</a>をご覧ください。</p>
    </section>
    {% endblock %}
</footer>
