{#-
    'post.html.twig' or 'partials/post-frag.html.twig' から呼び出される
    need properties:
    post:
        post_id: string;  // 'post-1', 'post-qiita-1'
        title: string;
        description: string;
        eyecatch: 
            src: string|undefined;
        href: string;
        latest_date: string(datetime);
-#}
<article class="s12 m6 l4 no-padding border">
    <img class="responsive small" width=16 height=9 
        alt="{{ post.eyecatch.alt }}" style="aspect-ratio:3/1;" 
        src="{{ post.eyecatch.src }}">    
    <div class="margin">
        <div class="right-align">
            <time datetime="{{ post.latest_date|date("Y-m-d") }}">
                {{ post.latest_date|date("Y年m月d日") }}
            </time>
        </div>
        <h2 style="font-size:1.125rem;font-weight:bold;text-decoration:underline;color:var(--primary);">
            <a href="{{ post.href }}">{{ post.title }}</a>
        </h2>
        <p>{{ post.description }}</p>
    </div>
</article>
