{#- need properties:
    preview: bool;
    site: /config/site.json => json.encode();
    page:
        title: string;
        description: string;
        url: string;
        styles: string|undefined;
        scripts: string|undefined;
    contents: string (HTML string);
 -#}
{%- if page.eyecatch is defined -%}
    {%- set eyecatch_src = page.eyecatch.src -%}
{%- else -%}
    {%- set eyecatch_src = '/assets/eyecatch.jpg' -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.site_name }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }} - {{ site.site_name }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.site_url }}{{ eyecatch_src }}" />
    <meta property="og:site_name" content="{{ site.site_name }}" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:url" content="{{ site.site_url }}{{ page.url }}" />
    <link rel="canonical" href="{{ site.site_url }}{{ page.url }}" />
    {%- include 'partials/ldjson.json.twig' -%}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    {% block css %}
    <link rel="stylesheet" href="/assets/bundle.css?d=202502" />
    {% if page.styles is defined %}{% for style in page.styles %}
        <link rel="stylesheet" href="{{ style }}" />
    {% endfor %}{% endif %}
    {% endblock %}
    {% block js %}
    {% if preview -%}
        <script defer type="module" src="/assets/function.js"></script>
    {% else -%}
        <script defer type="text/javascript" src="/assets/function.js?d=202502"></script>
    {% endif -%}
    {% if page.scripts is defined %}{% for script in page.scripts %}
        <script defer type="text/javascript" src="{{script}}"></script>
    {% endfor %}{% endif %}
    {% endblock %}
</head>
<body>
    {{ include('components/header.html.twig') }}
    <main>
        {% block main %}
        <article>
            <div class="page-title-wrap">
                <h1 class="page-title">{{ page.title }}</h1>
                {% block aftertitle %} {% endblock %}
            </div>
            <div class="content-wrap">
                <div class="content-outer">
                {% block main_content %}
                    <div class="content-inner">
                    {{ content|raw }}
                    </div>
                {% endblock %}
                </div>
                <section class="content-aside">
                    <div style="display:flex;justify-content: flex-start;align-items:flex-start;">
                        <img src="/favicon.svg" width="60" height="60"
                            style="width:60px;height:auto;display:block;margin:0 1rem 0 0;
                            border-radius:var(--g222-border-radius);flex-shrink:0;flex-basis:60px;"
                            alt="{{ site.site_name }}アイコン" />
                        <h2 style="margin:0;">{{ site.site_name }}</h2>
                    </div>
                    <p>{{ site.sidebar_description|raw }}</p>
                    <h3>SNS等</h3>
                    <ul class="sns-icons">
                    {% for sns in site.snss %}
                        <li>
                            {% if sns.src is defined %}
                            <img src="{{ sns.src }}" alt="{{ sns.name }}" width="18" height="18" />
                            {% else %}
                            <svg height="18" width="18" viewBox="0 0 18 18"><circle cx="9" cy="9" r="8" fill="#E95295" /></svg>
                            {% endif %}
                            <a href="{{ sns.href }}">{{ sns.name }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                </section>
            </div>

        </article>
        {% endblock %}
    </main>
    {{ include('components/footer.html.twig') }}
</body>
</html>