<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.site_name }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }} - {{ site.site_name }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ page.eyecatch.src }}" />
    <meta property="og:site_name" content="{{ site.site_name }}" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:url" content="{{ site.site_url }}/archives{{ page.url }}" />
    <link rel="canonical" href="{{ site.site_url }}{{ page.url }}" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    {% block css %}
    {% if preview %}
    <link rel="stylesheet" href="/assets/base.css" />
    <link rel="stylesheet" href="/assets/header.css" />
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/footer.css" />
    {% else %}
    <link rel="stylesheet" href="/assets/bundle.css" />
    {% endif %}
    {% endblock %}
    {% block js %}
    <script defer src="/assets/function.js"></script>
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <div class="site-title">{{ site.site_name }}</div>
            <nav>
                <ul>
                    {%- for item in site.menu -%}
                    {%- include 'partials/menu-item.html.twig' -%}
                    {%- endfor -%}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block main %}
        <aside class="breadcrumb">home > pagenation</aside>
        <aside class="eyecatch"><img src="#" alt="eyecatch"/></aside>
        <article>
            <h1>{{ page.title }}</h1>
            <div class="content-wrap">
                <div class="content">
                {{ content|raw }}
                </div>
                <aside class="content-aside"><p>つつじ行政書士事務所</p></aside>
            </div>
        </article>
        <aside class="blog-pager"><p>次のブログ記事</p></aside>
        <aside class="relation"><p>最近の記事</p></aside>
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <section>
            <h2>メニュー</h2>
            <nav>
                <ul>
                    {%- for item in site.menu -%}
                    {%- include 'partials/menu-item.html.twig' -%}
                    {%- endfor -%}
                </ul>
            </nav>
        </section>
        <section>
            <h2>つつじ行政書士事務所</h2>
            <address>〒830-0044<br>福岡県久留米市本町233-2-502</address>
            <p style="font-size:.9rem">※ 当事務所は、福岡県久留米市にある行政書士事務所です。<br>群馬県館林市にある、外国人ビザ申請に強い行政書士事務所をお探しの方は、<a href="https://tsutsujiilo.com/">行政書士つつじ国際法務事務所</a>をご覧ください。</p>
        </section>
        {% endblock %}
    </footer>
</body>
</html>