<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - つつじ行政書士事務所</title>
    <meta name="description" content="{{ description }}">
    <meta property="og:title" content="{{ title }} - つつじ行政書士事務所">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="https://g222.tech{{ url }}">
    <link rel="canonical" href="https://g222.tech{{ url }}">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
</head>
<body>
    <header id="header">
        <h1>{{ frontmatter.title }}</h1>
    </header>
    <main id="main">
    {% block main %}
        {{ content|raw }}
    {% endblock %}
    </main>
    <aside id="sidebar">
        <nav>
        </nav>
    </aside>
    <footer id="footer">
    </footer>
</body>
</html>