<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.site_name }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }} - {{ site.site_name }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.site_url }}{{ page.eyecatch.src }}" />
    <meta property="og:site_name" content="{{ site.site_name }}" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:url" content="{{ site.site_url }}{{ page.url }}" />
    <link rel="canonical" href="{{ site.site_url }}{{ page.url }}" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    {% block css %}
    {% if preview %}
        <link rel="stylesheet" href="/assets/css/base.css" />
        <link rel="stylesheet" href="/assets/css/header.css" />
        <link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/footer.css" />
        <link rel="stylesheet" href="/assets/css/contact.css" />
    {% else %}
        <link rel="stylesheet" href="/assets/bundle.css" />
    {% endif %}
    {% endblock %}
    {% block js %}
    <script defer src="/assets/function.js"></script>
    {% endblock %}
</head>
<body>
    <header>
        <div>
            <div class="site-title">{{ site.site_name }}</div>
            <nav aria-label="site menu">
                <ul>
                    {%- for item in site.menu -%}
                    {%- include 'partials/menu-item.html.twig' -%}
                    {%- endfor -%}
                </ul>
            </nav>
        </div>
    </header>
    <main>
        {% block main %}
        <article>
            <h1>{{ page.title }}</h1>
            {% block aftertitle %} {% endblock %}
            <div class="content-wrap">
                {% block main_content %}
                <div>
                    <div class="content">
                    {{ content|raw }}
                    </div>
                </div>
                {% endblock %}
                <section class="content-aside">
                    <h2>つつじ行政書士事務所</h2>
                    <img src="/favicon.svg" width="60" height="60"
                        style="width:60px;height:auto;display:block;margin:1rem auto;"
                        alt="つつじ行政書士事務所アイコン" />
                    <p>応用情報技術者の行政書士です。<br>ご依頼等は<a href="/contact.html">お問い合わせ</a>からお願いします。</p>
                </section>
            </div>
        </article>
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        <section class="footer-menu">
            <h2>メニュー</h2>
            <nav aria-label="footer menu">
                <ul>
                    {%- for item in site.menu -%}
                    {%- include 'partials/menu-item.html.twig' -%}
                    {%- endfor -%}
                </ul>
            </nav>
        </section>
        <section class="footer-address">
            <h2>つつじ行政書士事務所</h2>
            <address>〒830-0044<br>福岡県久留米市本町233-2-502</address>
            <p style="font-size:.9rem">※ 当事務所は、福岡県久留米市にある行政書士事務所です。<br>群馬県館林市にある、外国人ビザ申請に強い行政書士事務所をお探しの方は、<a href="https://tsutsujiilo.com/">行政書士つつじ国際法務事務所</a>をご覧ください。</p>
        </section>
        {% endblock %}
    </footer>
</body>
</html>