{#- need properties:
    preview: bool;
    site: /config/site.json => json.encode();
    page:
        title: string;
        description: string;
        url: string;
        styles: string|undefined;
        scripts: string|undefined;
    contents: string (HTML string);
 -#}
{%- if page.eyecatch is defined -%}
    {%- set eyecatch_src = page.eyecatch.src -%}
{%- else -%}
    {%- set eyecatch_src = '/assets/eyecatch.jpg' -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.site_name }}</title>
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:title" content="{{ page.title }} - {{ site.site_name }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{{ site.site_url }}{{ eyecatch_src }}" />
    <meta property="og:site_name" content="{{ site.site_name }}" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:url" content="{{ site.site_url }}{{ page.url }}" />
    <link rel="canonical" href="{{ site.site_url }}{{ page.url }}" />
    {%- include 'partials/ldjson.json.twig' -%}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    {% block css %}
    <link rel="stylesheet" href="/assets/bundle.css?d=202507" />
    {% if page.styles is defined %}{% for style in page.styles %}
        <link rel="stylesheet" href="{{ style }}" />
    {% endfor %}{% endif %}
    {% endblock %}
    {% block js %}
    {% if preview -%}
        <script defer type="module" src="/assets/function.js"></script>
    {% else -%}
        <script defer type="text/javascript" src="/assets/function.js?d=202507"></script>
    {% endif -%}
    {% if page.scripts is defined %}{% for script in page.scripts %}
        <script defer type="text/javascript" src="{{script}}"></script>
    {% endfor %}{% endif %}
    {% endblock %}
</head>
<body class="light">
    {{ include('components/beer-nav.html.twig') }}
    <header class="responsive">
        <h2 style="font-size:1rem;">{{ site.site_name }}</h2>
        {% if page.breadcrumb is defined %}
            {{ include('components/breadcrumb.html.twig')}}
        {% endif %}
    </header>
    <main class="responsive">
        {% block main %}
        <div class="padding g222-hero">
            <h1>{{ page.title }}</h1>
            {% block aftertitle %} {% endblock %}
        </div>

        {% block main_content %}
        <article class="border white padding">
            <div class="g222-content">{{ content|raw }}</div>
        </article>
        {% endblock %}

        {% endblock %}
    </main>
    {{ include('components/footer.html.twig') }}
    {{ include('components/icons.svg.twig') }}
</body>
</html>