{#-
    'post.html.twig' or 'partials/post-frag.html.twig' から呼び出される
    need properties:
    post:
        id: int;
        title: string;
        description: string;
        eyecatch: 
            src: string|undefined;
        update_at: string(datetime)|undefined;
        create_at: string(datetime);
-#}
{%- if post.update_at is defined -%}
    {%- set post_latest_date = post.update_at -%}
{%- else -%}
    {%- set post_latest_date = post.create_at -%}
{%- endif -%}
<div id="post-{{ post.id }}" class="content entry-list" style="background-image: linear-gradient(to right, #fff, #fff 50%, rgb(255 255 255 / .7) ), url({{ post.eyecatch.src }});" >
    <h2><a href="/archives/{{ post.id }}.html">{{ post.title }}</a></h2>
    <p>{{ post.description }}</p>
    <p><time datetime="{{ post_latest_date|date("Y-m-d") }}">{{ post_latest_date|date("Y年m月d日") }}</time></p>
</div>
