<div id="post-{{ post.id }}" class="content entry-list" style="background-image: linear-gradient(to right, #fff, #fff 50%, rgb(255 255 255 / .7) ), url({{ post.eyecatch.src }});" >
    <h2><a href="/archives/{{ post.id }}.html">{{ post.title }}</a></h2>
    <p>{{ post.description }}</p>
    <p><time datetime="{{ post.update_at|date("Y-m-d") }}">{{ post.update_at|date("Y年m月d日") }}</time></p>
</div>
